# Common aliases for shells
case "$DISTRO" in
    Arch)
        alias pm='sudo pacman'
        alias up='sudo pacmatic -Syu'
        alias upa='packer -Syu --auronly'
        alias list-aur='sudo pacman -Qemq'
        alias install='sudo pacmatic -Syu'
        alias remove='sudo pacman -Rs'
        alias aurlist="sudo pacman -Qqm"
        ;;
    CentOS|RHEL)
        alias up='sudo yum update'
        alias install='sudo yum install'
        alias remove='sudo yum remove'
        ;;
    Fedora)
        alias up='sudo dnf update'
        alias insatll='sudo dnf install'
        alias remove='sudo dnf remove'
        ;;
    Debian|Ubuntu)
        alias up='sudo apt-get update && sudo apt-get upgrade'
        alias install='sudo aptitude install'
        alias remove='sudo aptitude remove'
        ;;
    *)
        ;;
esac

case "$HOSTNAME" in
        ASC-*)
            alias ssh='~/bin/ssh_init'
            ;;
        asc-*)
            alias ssh='~/bin/ssh_init'
            ;;
        khazaddum*)
            alias compton="compton -O 2 -D 4 -cCfFb"
            alias sshfs-rd0="sshfs {celeborn@lothlorien:,}/media/rd0"
            alias sshfs-rd1="sshfs {celeborn@lothlorien:,}/media/rd1"
            alias ytdl-mp3='youtube-dl -x --audio-format mp3 --audio-quality 128K'
            alias ssoff='/home/tim/Scripts/screensaver'
            alias vbm='vboxmanage'
            ;;
        numenor*)
            alias ssh="~/bin/ssh_init"
            ;;
        lothlorien*)
            alias deluge-console="sudo -u deluge deluge-console"
            alias deluged="sudo -u deluge deluged"
            alias msm='sudo -u minecraft msm'
            alias news='slrn'
            alias burn='wodim -v -sao dev=/dev/sr0/'
            alias fineline3='sudo -u fineline /home/fineline/bin/start_fineline.bsh'
            alias fineline='sudo -u fineline /home/fineline/bin/start_fineline4.bsh'
            alias fineline-q='sudo -u fineline /home/fineline/willie/willie.py -q'
            alias fineline-k='sudo -u fineline /home/fineline/willie/willie.py -k'
            alias fineline-r='fineline-q && sleep 2 && echo restarting && fineline'
            alias feignline3='sudo -u feignline /home/feignline/bin/start_feignline.bsh'
            alias feignline='sudo -u feignline /home/feignline/bin/start_feignline4.bsh'
            alias feignline-q='sudo -u feignline /home/feignline/willie/willie.py -q'
            alias feignline-r='feignline-q && sleep 2 && echo restarting && feignline'
            alias fineline2='sudo -u fineline2 /home/fineline2/bin/start_fineline.bsh'
            alias fineline2-q='sudo -u fineline2 /home/fineline2/willie/willie.py -q'
            alias fineline2-k='sudo -u fineline2 /home/fineline2/willie/willie.py -k'
            alias fineline2-r='fineline2-q && sleep 2 && echo restarting && fineline2'
            ;;
esac

# Universal aliases
alias ls='ls -lh --color=auto'
alias sv='sudoedit'
alias sless='sudo less'
alias entar='tar czvf'
alias untar='tar -zxvf'
alias rs='rsync -av --progress'
alias sprunge="curl -F 'sprunge=<-' http://sprunge.us"
alias ix="curl -n -F 'f:1=<-' http://ix.io"
alias pgrep='pgrep -l'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias less='less -FXr'
alias nmon='nmon -g .nmon_disks'
alias ncmpc='ncmpc --host=$MPD_HOST'
alias ncmpcpp='ncmpcpp -h $MPD_HOST'
alias iotop='sudo iotop -d 4'
alias pms='pms -h $MPD_HOST'
alias nmap-quick='nmap -T4 -F'
alias nmap-intense='nmap -T4 -A -v'
alias nmap-intense-udp='sudo nmap -sS -sU -T4 -A -v'
alias nmap-ping='nmap -sn'
alias displeep="sudo sh -c 'vbetool dpms off; read ans; vbetool dpms on'"

# set vim ==> nvim if nvim is installed.
which nvim >/dev/null 2>&1 && alias vim='nvim'

