# Common exports for shell rc files
#
export PATH="${PATH}:${HOME}/bin"

if [[ -e ${HOME}/.local/bin ]]; then 
    PATH="${PATH}:${HOME}/.local/bin"
fi

[ -n "$TMUX" ] && export TERM=screen-256color && export COLORTERM=screen-256color
[ -n "$TERMINATOR_UUID" ] && export TERM=xterm-256color && export COLORTERM=xterm-256color

if [[ $WSL -eq 0 ]]; then
    export VAGRANT_WSL_ENABLE_WINDOWS_ACCESS="1"
    export PATH="$PATH:/mnt/c/Program Files/Oracle/VirtualBox"
fi

#export TERM=rxvt-unicode-256color

case "$HOSTNAME" in
        khazaddum*)
            export PATH="${PATH}:${HOME}/tmp/heimdal/devkit/sdk/tools/:${HOME}/tmp/heimdal/devkit/sdk/platform-tools/"
            ;;
        lothlorien*)
            ;;
        osgiliath*)
            ;;
esac

# set nvim as editor if it's installed.
if which nvim >/dev/null 2>&1; then
    export EDITOR=nvim
    export VISUAL=nvim
else
    export EDITOR=vim
    export VISUAL=vim
fi

#export PULUMI_SKIP_UPDATE_CHECK=true
# pulumi bin
if [[ -e ${HOME}/.pulumi/bin ]]; then 
    PATH="${HOME}/.pulumi/bin:${PATH}"
fi

