# Common functions for shell rc files

haste() {
    a=$(cat)
    curl -X POST -s -d "$a" http://hastebin.com/documents | awk -F '"' '{print "http://hastebin.com/"$4}'
}

x() {
    if [[ -f "$1" ]]; then
        case "$1" in
            *.lrz) lrztar -d "$1" && cd $(basename "$1" .lrz) ;;
            *.tar.bz2) tar xjf "$1" && cd $(basename "$1" .tar.bz2) ;;
            *.tar.gz) tar xzf "$1" && cd $(basename "$1" .tar.gz) ;;
            *.tar.xz) tar Jxf "$1" && cd $(basename "$1" .tar.xz) ;;
            *.bz2) bunzip2 "$1" && cd $(basename "$1" .bz2) ;;
            *.rar) rar x "$1" && cd $(basename "$1" .rar) ;;
            *.gz) gunzip "$1" && cd $(basename "$1" .gz) ;;
            *.tar) tar xf "$1" && cd $(basename "$1" .tar) ;;
            *.tbz2) tar xjf "$1" && cd $(basename "$1" .tbz2) ;;
            *.tgz) tar xzf "$1" && cd $(basename "$1" .tgz) ;;
            *.zip) unzip "$1" && cd $(basename "$1" .zip) ;;
            *.Z) uncompress "$1" && cd $(basename "$1" .Z) ;;
            *.7z) 7z x "$1" && cd $(basename "$1" .7z) ;;
            *) echo "don't know how to extract '$1'..."
                    ;;
        esac
    else
        echo "'$1' is not a valid file!"
    fi
}

