*.swp
*.tmp
*socket*
.antigen*
.bash_history
.binenv*
.cache
.config/binenv/*
.config/glab-cli/*
.config/neofetch/config
.docker
.gem
.glide
.histfile
.ipython
.k9s
.keychain
.kube
.kube/*cache
.lesshst
.local
**/.netrwhist
.python_history
.rediscli_history
.softlayer
.ssh
.tig_history
**/.vagrant
.vagrant.d/
.vim/.netrwhist
.vim/bundle/
.vim/bundle/
.viminfo
.wget-hsts
.wsl
.zcompdump
.zsh/themes/rik/*.antigen-compat
**.zwc
jtvlc*
new-git
git
salt
temp
tmp
winhome
.vault-token
.vscode*
.pulumi
